.registration-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.registration-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    border: 2px solid #535C91;
    width: 400px;
    height: 500px;
    background-color: #9290C3;
}

.registration-header {
    border-bottom: 3px solid #1B1A55;
}

.registration-form {
    height: 500px;
}

.input-box input {
    outline: 0;
    border: 0;
    border-bottom: 2px solid #1B1A55;
    background: transparent;
    width: 300px;
    color: #1B1A55;
}

.registration-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.registration-button {
    font-size: 20px;
    background: transparent;
    border: 2px solid #1B1A55;
    border-radius: 10px;
    width: 150px;
    color: #1B1A55;
}
.registration-button:active,
.registration-button:hover {
    color: white;
}

.text {
    font-size: 15px;
    color: #1B1A55;
}

.registration-link {
    color: black;
    text-decoration: none ;
    margin-left: 10px;
}
.registration-link:active,
.registration-link:hover {
    color: white;
}
