@import "../../resources/style/Variables";

.registration-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.registration-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    border: 2px solid $secondary;
    width: 400px;
    height: 500px;
    background-color: $third;
}

.registration-header {
    border-bottom: 3px solid $primary;
}

.registration-form {
    height: 500px;
}

.input-box input {
    outline: 0;
    border: 0;
    border-bottom: 2px solid $primary;
    background: transparent;
    width: 300px;
    color: $primary;
}

.registration-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.registration-button {
    font-size: 20px;
    background: transparent;
    border: 2px solid $primary;
    border-radius: 10px;
    width: 150px;
    color: $primary;
}
.registration-button:active,
.registration-button:hover {
    color: white;
}

.text {
    font-size: 15px;
    color: $primary;
}

.registration-link {
    color: black;
    text-decoration: none ;
    margin-left: 10px;
}
.registration-link:active,
.registration-link:hover {
    color: white;
}
