@import "../../resources/style/Variables";


.login-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    position: relative;
    height: 500px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 2px solid $secondary;
    padding: 30px;
    background-color: $third;
}

.login-form {
    width: 300px;
}

.title {
    border-bottom: 2px solid $primary;
    color: $primary;
}

.field {
    margin: 10px;
}

.login-input {
    outline: 0;
    border: 0;
    border-bottom: 2px solid $primary;
    background: transparent;
    width: 300px;
    color: $primary;
}

.input-label {
    font-size: 15px;
    display: block;
    color: $primary;
}

.link-text {
    text-decoration: none;
    color: $primary;
}

.link-text:active,
.link-text:hover {
    color: white;
}

.button-field {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.login-button {
    font-size: 20px;
    background: transparent;
    border: 2px solid $primary;
    border-radius: 10px;
    width: 150px;
    color: $primary;
}

.login-button:active,
.login-button:hover {
    color: white;
    cursor: pointer;
}

.pass-link-content {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.signup-link {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    color: black;
}
